$primary-color: black;
$secondary-color: navy;
$third-color: ghostwhite;
$fourth-color: #010104;
$fifth-color: white;
$sixth-color: #3F3F37;
$font-family: 'ZCOOL XiaoWei', serif;
$font-family2: 'Roboto', sans-serif;
$padding: 3px 6px 3px 6px;